{% extends 'base.html.twig' %}

{% block title %}GSB Frais{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger">GSB Frais</a>
            <button data-toggle="collapse" data-target="#navbarResponsive"
                    class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1 dropdown" role="presentation"><button
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger bg-transparent" style="color: white; border: 1px solid; text-transform: uppercase;font-weight: bold;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter frais
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{{ path('new_hors_forfait') }}">Frais Hors Forfait</a>
                            <a class="dropdown-item" href="#!">Frais Forfait</a>
                        </div>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('fichesByUser') }}">mes
                            Fiches</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('userDatas') }}">A Propos de
                            moi</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger btn-danger" href="/logout">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-top: 15vh; margin-bottom: 10vh">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 pb-3">Saisie d'un frais hors forfait</h1>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.libelle) }}
                    {{ form_widget(form.libelle) }}
                    {% if form_errors(form.libelle) == true %}
                        <br /><div class="alert alert-danger" role="alert">
                        {{ form_errors(form.libelle) }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.date) }}
                    {{ form_widget(form.date) }}
                    {% if form_errors(form.date) == true %}
                        <br /><div class="alert alert-danger" role="alert">
                        {{ form_errors(form.date) }}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(form.montant) }}
                    {{ form_widget(form.montant) }}
                    {% if form_errors(form.montant) == true %}
                        <br /><div class="alert alert-danger" role="alert">
                        {{ form_errors(form.montant) }}
                    </div>
                    {% endif %}
                </div>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright ©&nbsp;GSB 2019</small>
        </div>
    </div>
{% endblock %}

