{% extends 'base.html.twig' %}

{% block title %}GSB Frais{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger">GSB Frais</a>
            <button data-toggle="collapse" data-target="#navbarResponsive"
                    class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1 dropdown" role="presentation"><button
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger bg-transparent" style="color: white; border: 1px solid; text-transform: uppercase;font-weight: bold;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter frais
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="{{ path('new_hors_forfait') }}">Frais Hors Forfait</a>
                            <a class="dropdown-item" href="{{ path('new_frais_forfait') }}">Frais Forfait</a>
                        </div>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('fichesByUser') }}">mes
                            Fiches</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('userDatas') }}">A Propos de
                            moi</a></li>
                    {% if is_granted('ROLE_COMPTABLE') %}
                        <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                    class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('manage_all') }}">Valider Fiches</a></li>
                    {% endif %}
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('show_all_valid') }}">
                            Fiches Valides</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a
                                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger btn-danger" href="/logout">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="margin-top: 20vh;margin-bottom: 10vh">
        {% if ficheFrais.mois|date('m') == 01 %}
        {% set mois = 'Janvier' %}
        {% elseif ficheFrais.mois|date('m') == 02 %}
            {% set mois = 'Février' %}
        {% elseif ficheFrais.mois|date('m') == 03 %}
            {% set mois = 'Mars' %}
        {% elseif ficheFrais.mois|date('m') == 04 %}
            {% set mois = 'Avril' %}
        {% elseif ficheFrais.mois|date('m') == 05 %}
            {% set mois = 'Mai' %}
        {% elseif ficheFrais.mois|date('m') == 06 %}
            {% set mois = 'Juin' %}
        {% elseif ficheFrais.mois|date('m') == 07 %}
            {% set mois = 'Juillet' %}
        {% elseif ficheFrais.mois|date('m') == 08 %}
            {% set mois = 'Août' %}
        {% elseif ficheFrais.mois|date('m') == 09 %}
            {% set mois = 'Septembre' %}
        {% elseif ficheFrais.mois|date('m') == 10 %}
            {% set mois = 'Octobre' %}
        {% elseif ficheFrais.mois|date('m') == 11 %}
            {% set mois = 'Novembre' %}
        {% elseif ficheFrais.mois|date('m') == 12 %}
            {% set mois = 'Décembre' %}
        {% endif %}
        <h1 class="display-4 pb-3">Détails de la fiche de frais de {{ mois }} {{ ficheFrais.mois|date('Y') }}</h1>

        <div class="alert alert-sucess">
            Montant total de la fiche de frais : <strong>{{ montantTotal }} €</strong>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="table-responsive">
            <h5>Liste des frais hors forfait</h5>
            <span class="badge badge-warning mb-3">Montant total : {% if montantTotalFHF is not null %}{{ montantTotalFHF }}{% else %}0{% endif %} €</span>
            <table class="table table-striped table-light">
                <thead>
                <tr>
                    <th scope="col"> Libelle</th>
                    <th scope="col"> Montant</th>
                    <th scope="col"> Date</th>
                </tr>
                </thead>
                <tbody>
                {% for lFHF in lignesFraisHorsForfait %}
                    <tr>
                        <td>{{ lFHF.libelle }}</td>
                        <td>{{ lFHF.montant }}€</td>
                        <td>{{ lFHF.date|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><br />

            <h5>Liste des frais forfait</h5>
            <span class="badge badge-warning mb-3">Montant total : {{ montantTotalFF }} €</span>
            <table class="table table-striped table-light">
                <thead>
                <tr>
                    <th scope="col"> Libelle</th>
                    <th scope="col"> Montant forfait</th>
                    <th scope="col"> Quantité</th>
                    <th scope="col"> Montant total</th>
                    <th scope="col"> Date</th>
                </tr>
                </thead>
                <tbody>
                {% for lFF in lignesFraisForfait %}
                    <tr>
                        <td>{{ lFF.fraisForfait.libelle }}</td>
                        <td>{{ lFF.fraisForfait.montant }}</td>
                        <td>{{ lFF.quantite }}</td>
                        <td>{{ lFF.fraisForfait.montant * lFF.quantite }} €</td>
                        <td>{{ lFF.date|date('d/m/Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="copyright py-4 text-center text-white fixed-bottom" style="height: 75px;">
        <div class="container"><small>Copyright ©&nbsp;GSB 2019</small></div>
    </div>
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/f07fb1e49e.js"></script>
    {% endblock %}
{% endblock %}

